body{
    text-align: center;
}
div{
    background-color: antiquewhite;
    border: 2px solid black;
    height: 400px;
    width: 500px;
    padding: 16px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    font-size: 1.25rem;
}